meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
meta(name='theme-color' content='#222222')
meta(name='msapplication-TileColor' content='#222222')
meta(name='robots' content='index,follow')
meta(name='googlebot' content='index,follow')

meta(name='description' content='Personal website')
meta(name='rating' content='General')

link(rel='icon' type='image/png' sizes='192x192' href='./favicon/android-chrome-192x192.png')
link(rel='icon' type='image/png' sizes='512x512' href='./favicon/android-chrome-512x512.png')
link(rel='apple-touch-icon' sizes='180x180' href='./favicon/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='./favicon/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='./favicon/favicon-16x16.png')
link(rel='icon' type='image/x-icon' href='./favicon/favicon.ico')
link(rel='shortcut icon' type='image/x-icon' href='./favicon/favicon.ico')

meta(property='og:url' content='https://jellgrum.dev')
meta(property='og:type' content='website')
meta(property='og:title' content='Kamil Ramazanov is a front-end Software Developer')
meta(property='og:image' content='https://jellgrum.dev/favicon/android-chrome-192x192.png')
meta(property='og:description' content='Personal website')
meta(property='og:site_name' content='jellgrum.dev')
meta(property='og:locale' content='en_US')

meta(name='twitter:card' content='Kamil Ramazanov is a front-end Software Developer')
meta(name='twitter:url' content='https://jellgrum.dev')
meta(name='twitter:title' content='Jellgrum')
meta(name='twitter:description' content='Personal website')
meta(name='twitter:image' content='https://jellgrum.dev/favicon/android-chrome-192x192.png')

link(rel='apple-touch-startup-image' href='./favicon/apple-touch-icon.png')
meta(name='apple-mobile-web-app-title' content='Kamil Ramazanov')
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='black')

meta(name='mobile-web-app-capable' content='yes')

style
    include ../styles/styles.scss
