meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
meta(name='theme-color' content='#000000')
meta(name='robots' content='index,follow')
meta(name='googlebot' content='index,follow')
meta(name='description' content='Jellgrum.dev')

link(rel='icon' type='image/svg+xml' href='../static/favicon.svg')

meta(property='og:url' content='https://jellgrum.dev')
meta(property='og:type' content='website')
meta(property='og:title' content='Kamil Ramazanov is a Software Engineer')
meta(property='og:image' content='https://jellgrum.dev/favicon.svg')
meta(property='og:description' content='Jellgrum.dev')
meta(property='og:site_name' content='jellgrum.dev')
meta(property='og:locale' content='en_US')

style
    include ../styles/styles.scss
