doctype html
html(lang='en')
    head
        include templates/head
        title Oops. What were you looking for?

    body
        main
            section
                h1 There's nothing here
                h2(style="font-size: 120px") &#128532;
