doctype html
html(lang='en')
    head
        include templates/head
        title Oops. It's my mistake

    body
        main
            section
                h1 Something went wrong
                h2(style="font-size: 100px") &#128532;
